{% extends 'base.html' %}
{% load static %}

{% block title %}Today.io | About us{% endblock %}

{% block content %}

<h2><kbd>• STAFF •</kbd></h2>

<div class="row">
	<div class="col-md-3">
		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="{% static 'images/imagec.png'%}" alt="Ege Hürtürk">
		  <div class="card-body">
		    <h5 class="card-title">Ege Hürtürk</h5>
		    <p class="card-text">Ege Hürtürk is a student in Uskudar Amerikan Academy in Istanbul, Turkey. He is 15 and interested in IT.
		    	<br/>
		    	<br/>
		    	Dial me: +90-0530-047-52-58
		    	Email: ege.hurturk@gmail.com
		 	</p>
  		 </div>
		</div>
	</div>

	<div class="col-md-3 ml-3">
		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="{% static 'images/churturk.jpeg' %}" alt="Cem Hürtürk">
		  <div class="card-body">
		    <h5 class="card-title">Cem Hürtürk</h5>
		    <p class="card-text">Cem Hürtürk is a professional Software Engineer and he has many companies: 
    		<br/>
	    	<ul>
	    		<li><span class="badge badge-primary"><a class="text-white" target="_blank" href="https://sendloop.com/">Sendloop</a></li></span>
	    	</ul>
	    	<ul>
	    		<li><span class="badge badge-primary"><a class="text-white" target="_blank" href="https://referralmagic.co/">Referral Magic</a></li></span>
	    	</ul>
	    	<ul>
	    		<li><span class="badge badge-primary"><a class="text-white" target="_blank" href="https://www2.octeth.com/">Octeth</a></li></span>
	    	</ul>
    	</p>
  	</div>
</div>
	</div>
</div>










{% endblock %}
















